<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="ISO-8859-1">
    <title>Welcome to My Page</title>
  </head>
  <body>
    <h1 style=text-align:center>Attendance Management System</h1>  //Inline CSS

    <div class="container" style="width: 40%;">
      <h2 style="text-align:center;">Attendance Management System</h2>
      <a href="" style="color: black;">Student Service</a>
      <br>
      <a href="/doctor/ui/doctor" style="color: black;">Teacher Service</a>
      <br>
    </div>
  </body>
</html>
